<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yinhai.mids.business.mapper.SpineRecogTaskMapper">
    <select id="queryTodoTasks" resultType="com.yinhai.mids.business.entity.dto.SpineRecogToDoTask">
        SELECT a.spine_recog_task_id AS spineRecogTaskId,
               a.compute_series_id   AS computeSeriesId,
               b.series_id           AS seriesId
        FROM tb_spine_recog_task a
                 JOIN tb_compute_series b ON a.compute_series_id = b.compute_series_id
                 JOIN tb_series_info c ON b.series_id = c.series_id
        WHERE a.task_status = 0
          AND NOT EXISTS(SELECT 1
                         FROM tb_task_lock
                         WHERE task_type = 6
                           AND expire_time >= NOW()
                           AND item_id = a.spine_recog_task_id)
    </select>
</mapper>