<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yinhai.mids.business.mapper.StudyMapper">
    <resultMap id="StudyPageVO" type="com.yinhai.mids.business.entity.vo.StudyPageVO">
        <id column="study_id" jdbcType="VARCHAR" property="studyId"/>
        <result column="study_instance_uid" jdbcType="VARCHAR" property="studyInstanceUid"/>
        <result column="accession_number" jdbcType="VARCHAR" property="accessionNumber"/>
        <result column="patient_id" jdbcType="VARCHAR" property="patientId"/>
        <result column="patient_name" jdbcType="VARCHAR" property="patientName"/>
        <result column="patient_age" jdbcType="VARCHAR" property="patientAge"/>
        <result column="study_date_and_time" jdbcType="DATE" property="studyDateAndTime"/>
        <result column="study_description" jdbcType="VARCHAR" property="studyDescription"/>
        <result column="my_favorite" jdbcType="BOOLEAN" property="myFavorite"/>
        <result column="print_status" jdbcType="VARCHAR" property="printStatus"/>
        <result column="push_status" jdbcType="VARCHAR" property="pushStatus"/>
        <result column="operate_doctor_user_id" jdbcType="VARCHAR" property="operateDoctorUserId"/>
        <collection property="seriesList" ofType="com.yinhai.mids.business.entity.vo.ComputeSeriesPageVO">
            <id column="series_compute_id" jdbcType="VARCHAR" property="computeSeriesId"/>
            <result column="series_study_id" jdbcType="VARCHAR" property="studyId"/>
            <result column="series_id" jdbcType="VARCHAR" property="seriesId"/>
            <result column="series_study_uid" jdbcType="VARCHAR" property="studyInstanceUid"/>
            <result column="series_uid" jdbcType="VARCHAR" property="seriesInstanceUid"/>
            <result column="series_number" jdbcType="VARCHAR" property="seriesNumber"/>
            <result column="series_description" jdbcType="VARCHAR" property="seriesDescription"/>
            <result column="image_count" jdbcType="INTEGER" property="imageCount"/>
            <result column="algorithm_type" jdbcType="VARCHAR" property="algorithmType"/>
            <result column="compute_status" jdbcType="VARCHAR" property="computeStatus"/>
            <result column="operate_status" jdbcType="VARCHAR" property="operateStatus"/>
            <result column="operate_doctor_user_id" jdbcType="VARCHAR" property="operateDoctorUserId"/>
        </collection>
    </resultMap>

    <select id="list" resultMap="StudyPageVO">
        SELECT a.id                  AS study_id,
               a.study_instance_uid,
               a.accession_number,
               a.patient_id,
               a.patient_name,
               a.patient_age,
               a.study_date_and_time,
               a.study_description,
               d.user_id IS NOT NULL AS my_favorite,
               a.print_status,
               a.push_status,
               a.operate_doctor_user_id,
               c.id                  AS series_compute_id,
               b.study_id            AS series_study_id,
               c.series_id           AS series_id,
               b.study_instance_uid  AS series_study_uid,
               b.series_instance_uid AS series_uid,
               b.series_number,
               b.series_description,
               b.image_count,
               c.algorithm_type,
               c.compute_status,
               c.operate_status,
               c.operate_doctor_user_id
        FROM tb_study a
                 LEFT JOIN tb_series b ON a.id = b.study_id
                 LEFT JOIN tb_compute_series c ON b.id = c.series_id
                 LEFT JOIN (SELECT study_id, user_id FROM tb_favorite WHERE user_id = #{userId,jdbcType=VARCHAR}) d
                           ON a.id = d.study_id
        <where>
            a.deleted = 0
              AND b.deleted = 0
              AND c.deleted = 0
            <if test="query.startDate != null">
                AND a.study_date_and_time > #{query.startDate, jdbcType=DATE}
            </if>
            <if test="query.endDate != null">
                AND a.study_date_and_time
                    &lt; #{query.endDate,jdbcType=TIMESTAMP}
            </if>
            <if test="query.accessionNumber != null and query.accessionNumber != ''">
                AND a.accession_number = #{query.accessionNumber,jdbcType=VARCHAR}
            </if>
            <if test="query.patientId != null and query.patientId != ''">
                AND a.patient_id = #{query.patientId,jdbcType=VARCHAR}
            </if>
            <if test="query.patientName != null and query.patientName != ''">
                AND a.patient_name = #{query.patientName,jdbcType=VARCHAR}
            </if>
            <if test="query.algorithmType != null and query.algorithmType != ''">
                AND c.algorithm_type = #{query.algorithmType,jdbcType=VARCHAR}
            </if>
            <if test="query.computeStatus != null and query.computeStatus != ''">
                AND c.compute_status = #{query.computeStatus,jdbcType=VARCHAR}
            </if>
            <if test="query.myFavorite != null and query.myFavorite == true">
                AND d.user_id IS NOT NULL
            </if>
        </where>
        ORDER BY a.create_time DESC
    </select>
</mapper>